services:
  app:
    init: true
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SOURCE_DATE_EPOCH: "0"
    ports:
      - "8080:8080"
    volumes:
      - /var/run/dstack.sock:/var/run/dstack.sock
